
.modal {
  position: absolute;
  background-color: white;
  top: 10%;
  width: 70vw;
  left: calc(50% - 35vw);
  /* translate: 10vw; */
  overflow-y: auto;
  z-index: 110;
  opacity: 0;
  transition: all 0.3s linear;
  pointer-events: none;
  display: flex;
  justify-content: center;
}
.modal.visible {
  pointer-events: all;
  opacity: 1;
}
.modal_image {
  width: 100%;
}

@media (max-width: 1000px){
  .modal {
    top: 20%;
    width: 90vw;
    left: calc(50% - 45vw);    
  }
}
@media (max-width: 600px){
  .modal {
    top: 30%;
    width: 100vw;   
    left: 0;   
  }
}
