

/****BURGER-MENU***BURGER-MENU***BURGER-MENU***BURGER-MENU***/
/****BURGER-MENU***BURGER-MENU***BURGER-MENU***BURGER-MENU***/
/****BURGER-MENU***BURGER-MENU***BURGER-MENU***BURGER-MENU***/

.burgerIcon {
  width: 100px;
  height: 80px;
  background-color: var(--backgroundColor);
  box-shadow: 0px 0px 15px 10px var(--backgroundColor);
  border-radius: 100px;
  position: absolute;
  left: 10%;
  top: 10%;
  margin-top: 2rem;
  transition: all 0.7s ease;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease-in-out;
  /* transition-delay: 6s; */
}

.burgerIcon.visible {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 1100px){
  .burgerIcon {
    left: 10%;
    top: 5%;
  }
}
@media (max-width: 600px){
  .burgerIcon {
    left: 10%;
    top: 1%;
  }
}

.burgerIcon__line {
  background: black;
  border-radius: 9px;
  height: 13px;
  width: 100%;
  position: absolute;
  opacity: 1;
  left: 0;
  transform: rotate(0);
  margin-left: auto;
  transition: 0.45s ease-in-out;
}


.burgerIcon__line1 {
  top: 0px;
}
.burgerIcon__line2 {
  top: 27px;
}
.burgerIcon__line3 {
  top: 54px;
}

@media (max-width: 700px){
  .burgerIcon {
    width: 70px;
    height: 50px;
  }

  .burgerIcon__line {
    height: 10px;
  }
  .burgerIcon__line1 {
    top: 0px;
  }
  .burgerIcon__line2 {
    top: 20px;
  }
  .burgerIcon__line3 {
    top: 40px;
  }
  
}

.burgerIcon:hover .burgerIcon__line {
  scale: 0.95;
  width: 95%;
  translate: 5px;
}

.burgerIcon__line1.burgerIcon__line.clicked {
  top: 18px;
  transform: rotate(135deg);
}
.burgerIcon__line2.burgerIcon__line.clicked {
  opacity: 0;
  left: -60px;
}
.burgerIcon__line3.burgerIcon__line.clicked {
  top: 18px;
  transform: rotate(-135deg);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 60;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.3s linear;
}

.overlay.visible {
  opacity: 1;
  pointer-events: all;
}




/****NAVBAR***NAVBAR***NAVBAR***NAVBAR***NAVBAR***NAVBAR***/
/****NAVBAR***NAVBAR***NAVBAR***NAVBAR***NAVBAR***NAVBAR***/
/****NAVBAR***NAVBAR***NAVBAR***NAVBAR***NAVBAR***NAVBAR***/

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: var(--BG-color);
  z-index: 80;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  translate: -500px;
  transition: all ease-in-out 0.3s;
}

.navbar.visible {
  translate: 0;
}

.navbar_list {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
  width: 100%;
  padding: 0;
}

.navbar_list-item {
  color: white;
  list-style: none;
  /* padding: 1.5rem; */
  border-radius: 30px;
  /* width: 100%; */
}
.navbar_list-item:hover {
  background-color: rgb(171, 171, 171);
}
.navbar_list-item:hover .navbar_link {
  color: white;
}
.navbar_link {
  display: block;
  text-decoration: none;
  color: black;
  letter-spacing: 4px;
  font-size: 1.6rem;
  padding: 1.5rem;
  width: 350px;
  font-weight: 300;
  width: 100%;
}

@media (max-width: 1000px){
  .navbar {
    width: 240px;
  }
  .navbar_list {
    gap: 2rem;
  }
  .navbar_link {
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem 0rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .navbar_list-item {
    /* padding: 1rem; */
  }
}

@media (max-width: 600px) {
  .navbar {
    width: 100vw;
    height: 200px;
    padding-bottom: 20px;
    translate: -600px;
  }
  .navbar_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }
  .navbar_list-item {
    padding: 0;
    text-align: center;
    line-height: 3;
  }
  .navbar_link {
    font-size: 1rem;
    padding: 0;
  }
}

@media (max-width: 350px) {
  .navbar {
    height: 320px;
  }
  .navbar_list {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 0;
  }
}



/****NAVBAR-SECTIONS***NAVBAR-SECTIONS***NAVBAR-SECTIONS***NAVBAR-SECTIONS***/
/****NAVBAR-SECTIONS***NAVBAR-SECTIONS***NAVBAR-SECTIONS***NAVBAR-SECTIONS***/
/****NAVBAR-SECTIONS***NAVBAR-SECTIONS***NAVBAR-SECTIONS***NAVBAR-SECTIONS***/

.navbar_section {
  position: absolute;
  top: 10%;
  left: 0;
  padding-left: 2rem;
  border-left: rgb(128, 128, 128, 0.2) solid 3px;
  /* width: 700px; */
  width: calc(100vw - 350px);
  height: 80vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* border-radius: 0px 50px 50px 0px; */
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  z-index: 70;
  transform: translate(-2000px);
  transition: .4s all ease-in-out;
}

.navbar_section.visible {
  transform: translate(350px);
}

.navbar_section-heading {
  width: 90%;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.35cqw;
  border-bottom: solid black 0.2cqw;
  padding: 0cqw 4cqw 1cqw 4cqw;
}
.navbar_section-paragraph {
  width: 90%;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.3cqw;
}

.navbar_section-list {
  
}
.navbar_section-list_item {
  width: 90%;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.3cqw;
}



.navbar_section-image {
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px; 
}


@media (max-width: 1000px){
  .navbar_section {
    width: calc(100vw - 240px);
    border-radius: 0px;
  }
  .navbar_section.visible {
    transform: translate(240px);
  }

  .navbar_section-image {
    width: 80%;
  }

}
@media (max-width: 600px){
  .navbar_section {
    padding-left: 0;
    width: 100vw;
    top: 220px;
    left: 0;
    transform: translate(-800px);
  }
  .navbar_section.visible {
    transform: translate(0px);
  }

  .navbar_section-image {
    width: 100%;
  }

}
@media (max-width: 350px){
  .navbar_section {
    width: 100vw;
    top: 330px;
    left: 0;
    transform: translate(-600px);
  }
  .navbar_section.visible {
    transform: translate(0px);
  }
}



.procesdocumentation {
  width: 90%;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.3cqw;
}