
/****TEMA-5-HEADER***TEMA-5-HEADER***TEMA-5-HEADER***TEMA-5-HEADER****/
/****TEMA-5-HEADER***TEMA-5-HEADER***TEMA-5-HEADER***TEMA-5-HEADER****/
/****TEMA-5-HEADER***TEMA-5-HEADER***TEMA-5-HEADER***TEMA-5-HEADER****/

.theme5 {
  /* display: none; */
  width: 100vw;
  height: 100vh;
  background-color: var(--BG-color);
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}


.theme5_header {
  /* height: auto; */
  padding: 3vw;
  padding-bottom: 4vw;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theme5_heading, 
.theme5_subheading {
  color: white;
  margin: 0;
}

.theme5_heading {
  font-weight: 500;
  /* font-size: 2.4rem; */
  font-size: 4.5cqw;
  line-height: 1.15;
  letter-spacing: 0.6cqw;
  margin-bottom: 2rem;
}

.theme5_subheading {
  font-weight: 200;
  letter-spacing: 0.4cqw;
  font-size: 2cqw;
  border-top: solid white 0.25cqw;
  padding: 1cqw 2cqw 0cqw 2cqw;
  /* padding-left: 15px; */
  /* padding-right: 15px; */
}
@media (max-width: 800px){
  .theme5_heading {
    font-weight: 500;
    font-size: 5cqw;
    letter-spacing: 0.6cqw;
  }
  .theme5_subheading {
    letter-spacing: 0.4cqw;
    font-size: 3cqw;
    border-top: solid white 0.25cqw;
    padding: 1cqw 2cqw 0cqw 2cqw;
  }
}
@media (max-width: 600px){
  .theme5_header {
    padding: 8vw;
    padding-bottom: 8vw;
  }
  .theme5_heading {
    font-weight: 500;
    font-size: 7cqw;
    letter-spacing: 0.6cqw;
  }
  .theme5_subheading {
    letter-spacing: 0.4cqw;
    font-size: 4cqw;
    border-top: solid white 0.25cqw;
    padding: 1cqw 2cqw 0cqw 2cqw;
  }
}



.theme5_article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;
  /* margin-bottom: 30cqw; */
}
.theme5_article_heading {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.35cqw;
  border-bottom: solid black 0.2cqw;
  padding: 0cqw 4cqw 1cqw 4cqw;
}

.theme5_clippath {
  /* width: 500px; */
  width: 300px;
  height: auto;
  margin-bottom: 1.8rem;
  border-radius: 100px;
  scale: 1;
  clip-path: polygon(50% 2.45%, 61.8% 38.77%, 100% 38.77%, 69.1% 61.23%, 80.9% 97.55%, 50% 75.1%, 19.1% 97.55%, 30.9% 61.23%, 0% 38.77%, 38.2% 38.77%);
  transition: all ease 1.5s;
}

.theme5_clippath:hover, 
.theme5_clippath:active {
  clip-path: polygon(49.25% 0%, 100% 0%, 100% 38.77%, 100% 61.98%, 100% 100%, 49.25% 100%, 0% 100%, 0% 60.73%, 0% 38.77%, 0% 0%);
  scale: 1.2;
}

.theme5_article_paragraph {
  width: 55%;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.2cqw;
}
.clippath-paragraph {
  width: 70%;
}


/* .about_game {
  translate: -20cqw;
}
.sketches_screens {
  margin-bottom: 20vw;
}
.try_game {
  translate: 20cqw;
  margin-bottom: 5vw;
} */



@media (max-width: 1000px){
  .theme5_article {
    margin-bottom: 12rem;
  }
  .theme5_article_heading {
    font-size: 4cqw;
  }
  .theme5_clippath {
    width: 300px;
    height: 300px;
    margin-bottom: 1.2rem;
  }
  .theme5_article_paragraph {
    width: 55%;
    font-size: 1rem;
  }
  .try_game {
    margin-bottom: 5rem;
  }
}

@media (max-width: 600px){
  .theme5_article {
    margin-bottom: 4rem;
  }
  .theme5_article_heading {
    font-size: 7vw;
    margin: 1rem;
  }
  .theme5_clippath {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 1.2rem;
  }
  .theme5_article_paragraph {
    width: 90%;
    font-size: 0.8rem;
    letter-spacing: 0.4cqw;
  }

  .about_game {
    margin-bottom: 8rem;
  }

  .about_game h3,
  .about_game p {
  translate: 40px 80px;
  }

  .about_game p {
  width: 80%;
  margin-left: 2rem;
  }

  .try_game h3,
  .try_game p {
  translate: -40px 80px;
  }
  .try_game p {
  width: 70%;
  /* translate: -1000px; */
  }

  /* .try_game {
    translate: 20cqw;
    margin-bottom: 5vw;
  } */

}

@media (max-width: 400px){
  .about_game h3,
  .about_game p {
  translate: 60px 80px;
  }
}





.theme5_image-grid {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3, 12cqw); */
  justify-content: center;
  gap: 20px;
}
.theme5_grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1000px){
  .theme5_image-grid {
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 12cqw);
    gap: 10px;
  }
}
@media (max-width: 600px){
  .theme5_image-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 12cqw);
  }
}
@media (max-width: 400px){
  .theme5_image-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 12cqw);
  }
}


.theme5_bigStar-right {
  width: 110cqw;
  aspect-ratio: 10/9;
  top: 0;
  right: 0;
  translate: 90cqw -37cqw;
}
.theme5_bigStar-right div {
  width: 100%;
  height: 100%;
  background-image: url(../assets/svg/star_notext_purple.svg);
  background-size: cover;
}

@media (max-width: 1000px){
  .theme5_bigStar-right {
    width: 90cqw;
    translate: 80cqw -37cqw;
  }
}
@media (max-width: 600px){
  .theme5_bigStar-right {
    translate: 80cqw -40cqw;
  }
}
@media (max-width: 400px){
  .theme5_bigStar-right {
    translate: 90cqw -40cqw;
  }
}



.theme5_bigStar-left {
  width: 128cqw;
  aspect-ratio: 10/9;
  top: 0;
  left: 0;
  translate: -96cqw -54cqw;
}
.theme5_bigStar-left div {
  width: 100%;
  height: 100%;
  background-image: url(../assets/svg/star_notext_purple.svg);
  background-size: cover;
}

@media (max-width: 1000px){
  .theme5_bigStar-left {
    width: 90cqw;
    translate: -80cqw -37cqw;
  }
}
@media (max-width: 600px){
  .theme5_bigStar-left {
    width: 90cqw;
    translate: -80cqw -40cqw;
  }
}
@media (max-width: 400px){
  .theme5_bigStar-left {
    width: 90cqw;
  }
}
